language: go
go:
 - 1.9
 - 1.10.x
 - tip

addons:
  postgresql: "9.4"

services:
  - postgresql

before_install:
  - go get -t github.com/hexya-erp/hexya
  - hexya generate -t ./hexya/tests/testmodule

before_script:
  - npm install less -g
  - psql -c 'create database hexya_test_models;' -U postgres
  - psql -c 'create database hexya_test_tests;' -U postgres

script:
  - ./run_tests.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

env:
  - HEXYA_DB_DRIVER=postgres HEXYA_DB_USER=postgres HEXYA_DB_PASSWORD= HEXYA_DB_PREFIX=hexya_test
